@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-inter: 'Inter', sans-serif;
  --font-playfair: 'Playfair Display', serif;
}

body {
  background-color: #FAFAFA;
  color: #1A1A1A;
  -webkit-font-smoothing: antialiased;
}

.gallery-grid {
  column-gap: 2rem;
}
